@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

/* En tu app.css o directamente en chatbot.js */
.user-message, .bot-message {
    padding: 8px 12px;
    margin: 4px 0;
    border-radius: 10px;
    max-width: 80%;
}
.user-message {
    background-color: #d1ecf1;
    text-align: right;
    margin-left: auto;
}
.bot-message {
    background-color: #f8d7da;
    text-align: left;
    margin-right: auto;
}
